---
import Container from "@/src/components/Container.astro"
import HeadingText from "@/src/components/HeadingText.astro"
import Layout from "@/src/layouts/Layout.astro"

import leafIcon from "@/src/assets/leaf-1.svg?raw"
import leafIcon2 from "@/src/assets/leaf-2.svg?raw"
import { getOfferGroup, getOfferGroupsSlugs } from "@/src/data"
import { PortableText } from "astro-portabletext"

export async function getStaticPaths() {
  async function obtainOfferGroupsSlugs() {
    const slugs = await getOfferGroupsSlugs()

    type Slug = {
      slug: {
        current: string
      }
    }

    return slugs.map((slug: Slug) => {
      return {
        params: {
          slug: slug.slug.current,
        },
      }
    })
  }

  const slugs = await obtainOfferGroupsSlugs()

  return [...slugs]
}

const currentSlug = Astro.params.slug
const offerGroup = await getOfferGroup(currentSlug)
---

<Layout title={offerGroup.title} description={offerGroup.title}>
  <section class:list={["relative"]}>
    <Container>
      <div
        class:list={[
          "lg:w-4/5",
          "mx-auto",
          "text-center",
          "m-32",
        ]}
      >
        <HeadingText
          as="h1"
          text={offerGroup.title}
          size={["text-trafalgar", "md:text-canon"]}
        />
        <PortableText
          class="text-great-primer"
          value={offerGroup.description}
        />
      </div>
      <div class="accordion accordion--radio">
        {
          offerGroup.services.map((service, index: number) => {
            return (
              <div class="tab">
                <input
                  type="radio"
                  name="accordion-2"
                  id={`rd${index}`}
                  data-checked={false}
                />
                <label
                  for={`rd${index}`}
                  class:list={["tab__label", "group", "relative"]}
                >
                  <span
                    class:list={[
                      "absolute",
                      "text-4xl",
                      "font-deco",
                      "right-0",
                      "top-2",
                      "text-primary",
                      "-z-10",                      
                    ]}
                  >
                    {index < 9 ? `0${index + 1}` : index + 1}
                  </span>
                  <div class:list={["offer-tab", "flex", "py-12"]}>
                    <div class="flex items-center">
                      <HeadingText
                        as="h2"
                        size="text-paragon"
                        text={service.name}
                        uppercase={false}
                      />
                    </div>
                  </div>
                  <div class="flex items-center">
                    <HeadingText
                      as="h3"
                      text={service.shortDescription}
                      uppercase={false}
                    />
                  </div>
                  <div class="tab__content">
                    <PortableText value={service.description} class="content" />
                  </div>
                </label>
              </div>
            )
          })
        }
      </div>
    </Container>
    <div class:list={["absolute", "top-0", "w-full", "h-full", "-z-10"]}>
      <div
        class:list={["absolute", "-left-52", "lg:left-[unset]", "lg:right-72"]}
        set:html={leafIcon}
      />
      <div
        class:list={["hidden", "lg:block", "absolute", "-right-60"]}
        set:html={leafIcon2}
      />
    </div>
  </section>
</Layout>

<script is:inline>
  const radioInputs = document.querySelectorAll("input[type=radio]")

  function handleClick(element) {
    const elementChecked = element.getAttribute("data-checked")

    if (elementChecked === "true") {
      element.checked = false
      element.setAttribute("data-checked", "false")
    } else {
      element.setAttribute("data-checked", "true")
      radioInputs.forEach((input) => {
        if (input !== element) {
          input.checked = false
          input.setAttribute("data-checked", "false")
        }
      })
    }
  }

  radioInputs.forEach((input) => {
    input.addEventListener("click", () => handleClick(input))
  })
</script>

<style>
  .tab input {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
  }
  .tab__content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.7s;
    grid-column-start: 2;
    margin: 0;
    padding: 0;
  }

  .tab input:checked ~ label .tab__content {
    max-height: 1000px;
  }

  .accordion {
    overflow: hidden;
    padding: 1rem 0;
  }

  .tab__label,
  .tab__close {
    display: grid;
    grid-template-columns: 4fr 6fr;
    cursor: pointer;
  }
  .tab__label {
    gap: 0 5rem;
    padding: 1rem 2rem;
  }

  .tab input:checked + .tab__label::after {
    transform: rotate(270deg);
  }
  .tab__content {
  }
  .tab__close {
    justify-content: flex-end;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
  }
</style>
