---
import Container from "@/src/components/Container.astro"
import HeadingText from "@/src/components/HeadingText.astro"
import Layout from "@/src/layouts/Layout.astro"

import leafIcon from "@/src/assets/leaf-1.svg?raw"
import leafIcon2 from "@/src/assets/leaf-2.svg?raw"
import { getOfferGroup, getOfferGroupsSlugs } from "@/src/data"
import { PortableText } from "astro-portabletext"

export async function getStaticPaths() {
  async function obtainOfferGroupsSlugs() {
    const slugs = await getOfferGroupsSlugs()

    type Slug = {
      slug: {
        current: string
      }
    }

    return slugs.map((slug: Slug) => {
      return {
        params: {
          slug: slug.slug.current,
        },
      }
    })
  }

  const slugs = await obtainOfferGroupsSlugs()

  return [...slugs]
}

const currentSlug = Astro.params.slug
const offerGroup = await getOfferGroup(currentSlug)
---

<Layout title={offerGroup.title} description={offerGroup.title}>
  <section class:list={["relative"]}>
    <Container>
      <div
        class:list={[
          "lg:w-4/5",
          "mx-auto",
          "text-center",
          "mb-16",
          "relative",
          "after:content-['']",
          "after:absolute",
          "after:top-[120%]",
          "after:left-1/2",
          "after:-translate-x-1/2",
          "after:h-[2px]",
          "after:w-1/4",
          "after:bg-primary",
        ]}
      >
        <HeadingText
          as="h1"
          text={offerGroup.title}
          size={["text-trafalgar", "md:text-canon"]}
        />
        <PortableText
          class="text-great-primer"
          value={offerGroup.description}
        />
      </div>
    </Container>
    <!-- <div class="grid grid-cols-2 gap-20 px-20">
      {
        offerGroup.services.map((service) => {
          return (
            <div class:list={["bg-white", "p-4", "rounded-md", "shadow-md"]}>
              <HeadingText
                as="h2"
                size="text-paragon"
                text={service.name}
                uppercase={false}
              />
              <div class="line-clamp-8">
                <PortableText value={service.description} />
              </div>
            </div>
          )
        })
      }
    </div> -->
    <div class="accordion accordion--radio">
      {
        offerGroup.services.map((service, index: number) => {
          return (
            <>
              <div class="tab">
                <input
                  type="radio"
                  name="accordion-2"
                  id={`rd${index}`}
                  data-checked={false}
                />
                <label
                  for={`rd${index}`}
                  class:list={["tab__label", "group", "relative"]}
                >
                  <div class="offer-tab flex">
                    <div class="">
                      <HeadingText
                        as="h2"
                        size="text-paragon"
                        text={service.name}
                        uppercase={false}
                      />
                      {/* <Icon
                          size={30}
                          name="mdi:share"
                          class:list={[
                            "group-hover:text-primary",
                            "group-hover:scale-110",
                            "transition-all",
                          ]}
                        /> */}
                    </div>
                    <h2>{service.shortDescription}</h2>
                  </div>
                </label>
                  <div class="tab__content">
                    <PortableText value={service.description} />
                  </div>
              </div>
            </>
          )
        })
      }
      <!-- TODO: uncomment if you need it -->
      <!-- <div class="tab">
          <input type="radio" name="accordion-2" id="rdClose" />
          <label for="rdClose" class="tab__close">Close open tab &times;</label>
        </div> -->
    </div>
    <div class:list={["absolute", "top-0", "w-full", "h-full", "-z-10"]}>
      <div
        class:list={["absolute", "-left-52", "lg:left-[unset]", "lg:right-72"]}
        set:html={leafIcon}
      />
      <div
        class:list={["hidden", "lg:block", "absolute", "-right-60"]}
        set:html={leafIcon2}
      />
    </div>
  </section>
</Layout>

<script is:inline>
  const radioInputs = document.querySelectorAll("input[type=radio]")

  function handleClick(element) {
    const elementChecked = element.getAttribute("data-checked")

    if (elementChecked === "true") {
      element.checked = false
      element.setAttribute("data-checked", "false")
    } else {
      element.setAttribute("data-checked", "true")
      radioInputs.forEach((input) => {
        if (input !== element) {
          input.checked = false
          input.setAttribute("data-checked", "false")
        }
      })
    }
  }

  radioInputs.forEach((input) => {
    input.addEventListener("click", () => handleClick(input))
  })
</script>

<style>
  /* :root {
    --primary: #227093;
    --secondary: #ff5252;
    --background: #eee;
    --highlight: #ffda79; */
  /* Theme color */
  /* --theme: var(--primary); */
  /* } */
  /* *,
  *::before,
  *::after {
    box-sizing: border-box;
  } */

  /* Core styles/functionality */
  .tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  .tab__content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.35s;
  }
  .tab input:checked ~ .tab__content {
    max-height: 30rem;
  }

  /* Visual styles */
  .accordion {
    /* color: var(--theme); */
    /* border: 2px solid;
    border-radius: 0.5rem; */
    overflow: hidden;
    padding: 1rem 2rem;
  }
  .tab__label,
  .tab__close {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* color: white; */
    /* background: var(--theme); */
    cursor: pointer;
  }
  .tab__label {
    gap: 5rem;
    /* align-items: center; */
    /* justify-content: space-between; */
    padding: 1rem 2rem;
    margin: 0.5rem 0;
  }
  /* .tab__label::after {
    content: "\276F";
    width: 1em;
    height: 1em;
    text-align: center;
    transform: rotate(90deg);
    transition: all 0.35s;
  } */
  .tab input:checked + .tab__label::after {
    transform: rotate(270deg);
  }
  .tab__content {
    margin: 0;
    padding: 0 3rem;
  }
  .tab__close {
    justify-content: flex-end;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
  }
  .accordion--radio {
    /* --theme: var(--secondary); */
  }

  /* Arrow animation */
  .tab input:not(:checked) + .tab__label:hover::after {
    animation: bounce 0.5s infinite;
  }

  @keyframes bounce {
    25% {
      transform: rotate(90deg) translate(0.25rem);
    }
    75% {
      transform: rotate(90deg) translate(-0.25rem);
    }
  }
</style>
