---
import { PortableText } from "astro-portabletext"
import { Image } from "astro:assets"

import { getSingleBlogArticle } from "@/src/data"
import { getBlogArticlesSlugs } from "@/src/data/get-blog-articles-slugs"

import Article from "@/src/components/article-bones/Article.astro"
import ArticleHeader from "@/src/components/article-bones/ArticleHeader.astro"
import Container from "@/src/components/Container.astro"
import Date from "@/src/components/Date.astro"
import HeadingText from "@/src/components/HeadingText.astro"
import Layout from "@/src/layouts/Layout.astro"

import type { BlogArticleType } from "@/src/types"
import { urlForImage } from "@/src/utils"

export async function getStaticPaths() {
  async function obtainBlogArticlesSlugs() {
    const slugs = await getBlogArticlesSlugs()

    type Slug = {
      slug: {
        current: string
      }
    }

    return slugs.map((slug: Slug) => {
      return {
        params: {
          slug: slug.slug.current,
        },
      }
    })
  }

  const slugs = await obtainBlogArticlesSlugs()

  return [...slugs]
}

const { slug } = Astro.params
const { published, title, body, mainImage, author, seoTitle } =
  (await getSingleBlogArticle(slug)) as BlogArticleType
---

<Layout title={seoTitle.title} description={seoTitle.description}>
  <section>
    <Container>
      <Article>
        <ArticleHeader>
          <Date published={published} />
          <HeadingText as="h1" size="canon" text={title} />
        </ArticleHeader>
        <div>
          {
            mainImage && (
              <div
                class:list={[
                  "w-1/2",
                  "image-75",
                  "relative",
                  "rounded-md",
                  "float-left",
                  "mr-12",
                  "mb-4",
                ]}
              >
                <Image
                  src={urlForImage(mainImage.source)
                    .width(900)
                    .format("webp")
                    .quality(80)
                    .url()}
                  alt={mainImage.alt}
                  width={900}
                  height={900}
                  class:list={["rounded-md", "object-cover"]}
                />
              </div>
            )
          }
          {body && <PortableText value={body} class:list={["portable-text"]} />}
        </div>
        {
          author && (
            <div>
              <p>Written by {author.name}</p>
            </div>
          )
        }
      </Article>
    </Container>
  </section>
</Layout>
