---
import { urlForImage } from "@/src/utils"
import { getSingleBlogArticle } from "@/src/data"
import { getBlogArticlesSlugs } from "@/src/data/get-blog-articles-slugs"

import { PortableText } from "astro-portabletext"
import { Image } from "astro:assets"

import Article from "@/src/components/article/Article.astro"
import ArticleHeader from "@/src/components/article/ArticleHeader.astro"
import Container from "@/src/components/Container.astro"
import Date from "@/src/components/Date.astro"
import HeadingText from "@/src/components/HeadingText.astro"
import DecoLeafs from "@/src/components/DecoLeafs.astro"
import ArticleFooter from "@/src/components/article/ArticleFooter.astro"
import Breadcrumbs from "@/src/components/Breadcrumbs.astro"
import CustomImage from "@/src/components/CustomImage.astro"
import Layout from "@/src/layouts/Layout.astro"

import type { BlogArticleType } from "@/src/types"

export async function getStaticPaths() {
  async function obtainBlogArticlesSlugs() {
    const slugs = await getBlogArticlesSlugs()

    type Slug = {
      slug: {
        current: string
      }
    }

    return slugs.map((slug: Slug) => {
      return {
        params: {
          slug: slug.slug.current,
        },
      }
    })
  }

  const slugs = await obtainBlogArticlesSlugs()

  return [...slugs]
}

const { slug } = Astro.params
const path = Astro.url.pathname
const { published, title, body, mainImage, author, seoTitle } =
  (await getSingleBlogArticle(slug)) as BlogArticleType
---

<Layout title={seoTitle.title} description={seoTitle.description}>
  <section class="relative">
    <DecoLeafs />
    <Container>
      <Breadcrumbs path={path} />
      <Article>
        <ArticleHeader>
          <div class="mb-4">
            <Date published={published} />
          </div>
          <HeadingText
            as="h1"
            size={["text-trafalgar", "md:text-canon"]}
            text={title}
          />
        </ArticleHeader>
        <div>
          {
            mainImage && (
              <div
                class:list={[
                  "w-full",
                  "md:w-1/2",
                  "image-75",
                  "relative",
                  "rounded-md",
                  "md:float-left",
                  "mr-12",
                  "mb-4",
                ]}
              >
                <Image
                  src={urlForImage(mainImage.source)
                    .width(900)
                    .format("webp")
                    .quality(80)
                    .url()}
                  alt={mainImage.alt}
                  width={900}
                  height={900}
                  class:list={["rounded-md", "object-cover"]}
                />
              </div>
            )
          }
          {body && <PortableText value={body} class:list={["portable-text"]} />}
        </div>
        <ArticleFooter>
          {
            author.image ? (
              <div class:list={["w-24", "h-24", "relative"]}>
                <Image
                  src={urlForImage(author.image.source)
                    .width(200)
                    .format("webp")
                    .quality(80)
                    .url()}
                  alt={author.image.alt}
                  width={200}
                  height={200}
                  class:list={[
                    "rounded-full",
                    "object-cover",
                    "mix-blend-multiply",
                  ]}
                />
              </div>
            ) : (
              <div class:list={["w-16", "h-16", "relative"]}>
                <CustomImage
                  src="/src/assets/vivo-logo.jpg"
                  alt="Vivo Logo"
                  width={300}
                  height={300}
                  class:list={[
                    "absolute",
                    "w-full",
                    "h-full",
                    "object-contain",
                    "rounded-full",
                    "mix-blend-multiply",
                  ]}
                />
              </div>
            )
          }
          {
            author && author.active !== false ? (
              <a href={`/o-nas/${author.slug}`} class:list={["group"]}>
                <h2 class:list={["text-double-pica", "text-dark-900"]}>
                  {author.name}
                </h2>
                <p class:list={["text-dark-300"]}>{author.description}</p>
              </a>
            ) : (
              <h2 class:list={["text-double-pica", "text-dark-900"]}>
                {author.name}
              </h2>
            )
          }
        </ArticleFooter>
      </Article>
    </Container>
  </section>
</Layout>
