---
import { getBlogPage } from "@/src/data"

import Layout from "@/src/layouts/Layout.astro"
import ArticleTeaser from "@/src/components/article/ArticleTeaser.astro"
import Container from "@/src/components/Container.astro"
import DecorativeText from "@/src/components/DecorativeText.astro"
import HeadingText from "@/src/components/HeadingText.astro"
import TripleGrid from "@/src/components/TripleGrid.astro"
import Breadcrumbs from "@/src/components/Breadcrumbs.astro"
import DecoLeafs from "@/src/components/DecoLeafs.astro"

const path = Astro.url.pathname

const { blogArticles, sectionIntro, metaData } = await getBlogPage()
---

<Layout title={metaData.seoTitle} description={metaData.seoDescription}>
  <section class="relative">
    <Container>
      <Breadcrumbs path={path} />
      <div class:list={["text-center", "my-32"]}>
        <HeadingText as="h1" text={sectionIntro.headline} />
        <DecorativeText as="h2" text={sectionIntro.tagline} />
      </div>
      {
        blogArticles && (
          <TripleGrid>
            {blogArticles.map((article) => (
              <ArticleTeaser data={article} />
            ))}
          </TripleGrid>
        )
      }
    </Container>
    <DecoLeafs />
  </section>
</Layout>
