---
import { getTeamMember, getTeamMemberSlugs } from "@/src/data"
import { urlForImage } from "@/src/utils"

import { Picture } from "astro:assets"
import { PortableText } from "astro-portabletext"

import Article from "@/src/components/article/Article.astro"
import ArticleSmall from "@/src/components/article/ArticleSmall.astro"
import ArticleHeader from "@/src/components/article/ArticleHeader.astro"
import Breadcrumbs from "@/src/components/Breadcrumbs.astro"
import Container from "@/src/components/Container.astro"
import HeadingText from "@/src/components/HeadingText.astro"
import DecoLeafs from "@/src/components/DecoLeafs.astro"
import Layout from "@/src/layouts/Layout.astro"

import type { TeamMemberType } from "@/src/data/get-team-member"

export async function getStaticPaths() {
  async function obtainTeamMemberSlugs() {
    const slugs = await getTeamMemberSlugs()

    type Slug = {
      slug: {
        current: string
      }
    }

    return slugs.map((slug: Slug) => {
      return {
        params: {
          slug: slug.slug.current,
        },
      }
    })
  }

  const slugs = await obtainTeamMemberSlugs()

  return [...slugs]
}

const { slug } = Astro.params
const path = Astro.url.pathname

const { name, image, bio, metaData, short, articles, experience } =
  (await getTeamMember(slug)) as TeamMemberType
---

<Layout title={metaData.seoTitle} description={metaData.seoDescription}>
  <section class="relative">
    <DecoLeafs />
    <Container>
      <Breadcrumbs path={path} />
      <Article>
        <ArticleHeader>
          <div class:list={["mb-4"]}>
            <div class:list={["text-dark-400"]}>
              {short}
            </div>
          </div>
          <HeadingText
            as="h1"
            size={["text-trafalgar", "md:text-canon"]}
            text={name}
          />
        </ArticleHeader>
        <div class:list={["md:grid", "grid-cols-3"]}>
          <div>
            {
              image && (
                <div
                  class:list={[
                    "w-full",
                    "image-125",
                    "relative",
                    "rounded-md",
                    "md:sticky",
                    "md:top-40",
                  ]}
                >
                  <Picture
                    src={urlForImage(image.source)
                      .width(900)
                      .format("webp")
                      .quality(80)
                      .url()}
                    alt={image.alt}
                    width={900}
                    height={900}
                    class:list={["rounded-md", "object-cover"]}
                  />
                </div>
              )
            }
          </div>
          <div class:list={["col-span-2", "md:pl-8"]}>
            {bio && <PortableText value={bio} class:list={["portable-text"]} />}
            {
              experience && (
                <>
                  <h2 class:list={["text-double-pica", "font-bold", "mb-1"]}>
                    Doświadczenie zawodowe:
                  </h2>
                  <ul class:list={["list-disc", "pl-4"]}>
                    {experience.map((item) => (
                      <li class:list={["mb-2", "marker:text-secondary-500"]}>
                        <p>
                          <strong>{item.name}:</strong>
                        </p>
                        <div class:list={["flex", "leading-4"]}>
                          <time>
                            {item.startDate} - {item.endDate}
                          </time>
                        </div>
                      </li>
                    ))}
                  </ul>
                </>
              )
            }
          </div>
        </div>
        {
          articles && (
            <div
              class:list={[
                "clear-both",
                "border-t-2",
                "border-primary",
                "mt-4",
                "pt-8",
              ]}
            >
              <h2 class:list={["text-double-pica", "mb-4"]}>
                Zobacz moje artykuły:
              </h2>
              {Array.isArray(articles) && (
                <div class:list={[" grid", "md:grid-cols-2", "gap-4"]}>
                  {articles.map((article, index) => {
                    return index < 2 ? <ArticleSmall data={article} /> : null
                  })}
                </div>
              )}
            </div>
          )
        }
      </Article>
    </Container>
  </section>
</Layout>
