---
import Article from "@/src/components/article/Article.astro"
import ArticleSmall from "@/src/components/article/ArticleSmall.astro"
import ArticleHeader from "@/src/components/article/ArticleHeader.astro"
import Breadcrumbs from "@/src/components/Breadcrumbs.astro"
import Container from "@/src/components/Container.astro"
import HeadingText from "@/src/components/HeadingText.astro"
import { getTeamMember, getTeamMemberSlugs } from "@/src/data"
import type { TeamMemberType } from "@/src/data/get-team-member"
import Layout from "@/src/layouts/Layout.astro"
import { urlForImage } from "@/src/utils"
import { PortableText } from "astro-portabletext"
import { Picture } from "astro:assets"

export async function getStaticPaths() {
  async function obtainTeamMemberSlugs() {
    const slugs = await getTeamMemberSlugs()

    type Slug = {
      slug: {
        current: string
      }
    }

    return slugs.map((slug: Slug) => {
      return {
        params: {
          slug: slug.slug.current,
        },
      }
    })
  }

  const slugs = await obtainTeamMemberSlugs()

  return [...slugs]
}

const { slug } = Astro.params
const path = Astro.url.pathname

const { name, image, bio, metaData, short, articles } = (await getTeamMember(
  slug,
)) as TeamMemberType
---

<Layout title={metaData.seoTitle} description={metaData.seoDescription}>
  <section>
    <Container>
      <Breadcrumbs path={path} />
      <Article>
        <ArticleHeader>
          <div class:list={["mb-4"]}>
            <div class:list={["text-dark-400"]}>
              {short}
            </div>
          </div>
          <HeadingText
            as="h1"
            size={["text-trafalgar", "md:text-canon"]}
            text={name}
          />
        </ArticleHeader>
        <div>
          {
            image && (
              <div
                class:list={[
                  "w-full",
                  "md:w-1/3",
                  "image-125",
                  "relative",
                  "rounded-md",
                  "md:float-left",
                  "mr-12",
                  "mb-4",
                ]}
              >
                <Picture
                  src={urlForImage(image.source)
                    .width(900)
                    .format("webp")
                    .quality(80)
                    .url()}
                  alt={image.alt}
                  width={900}
                  height={900}
                  class:list={["rounded-md", "object-cover"]}
                />
              </div>
            )
          }
          {bio && <PortableText value={bio} class:list={["portable-text"]} />}
        </div>
        {
          articles && (
            <div
              class:list={[
                "clear-both",
                "border-t-2",
                "border-primary",
                "mt-4",
                "pt-8",
              ]}
            >
              <h2 class:list={["text-double-pica", "mb-4"]}>
                Zobacz moje artykłu:
              </h2>
              {Array.isArray(articles) && (
                <div class:list={[" grid", "md:grid-cols-2", "gap-4"]}>
                  {articles.map((article, index) => {
                    return index < 2 ? <ArticleSmall data={article} /> : null
                  })}
                </div>
              )}
            </div>
          )
        }
      </Article>
    </Container>
  </section>
</Layout>
