---
import { getAboutPage } from "@/src/data"

import Container from "@/src/components/Container.astro"
import Layout from "@/src/layouts/Layout.astro"
import Value from "@/src/components/values/Value.astro"

import type { AboutPageData } from "@/src/types/singleton-types"

const { metaData, sectionValues } = (await getAboutPage()) as AboutPageData
---

<Layout title={metaData.seoTitle} description={metaData.seoDescription}>
  <section class="mb-24"></section>
  <section>
    <Container>
      <div class:list={["grid", "sm:grid-cols-2", "xl:grid-cols-3", "gap-8"]}>
        {
          sectionValues.values.map((section, index) => {
            return (
              <Value
                icon={section.icon}
                title={section.title}
                body={section.body}
                index={index}
              />
            )
          })
        }
      </div>
    </Container>
  </section>
</Layout>
