---
import { getAboutPage } from "@/src/data"
import { urlForImage } from "@/src/utils"

import { PortableText } from "astro-portabletext"
import { Picture } from "astro:assets"

import Breadcrumbs from "@/src/components/Breadcrumbs.astro"
import Container from "@/src/components/Container.astro"
import Value from "@/src/components/values/Value.astro"
import HeadingText from "@/src/components/HeadingText.astro"
import DecorativeText from "@/src/components/DecorativeText.astro"
import DecoLeafs from "@/src/components/DecoLeafs.astro"
import Layout from "@/src/layouts/Layout.astro"

import type { AboutPageData } from "@/src/types/singleton-types"

const path = Astro.url.pathname

const {
  metaData,
  team,
  sectionHero,
  decoImage,
  sectionAbout,
  sectionAboutValues,
  sectionTeam,
} = (await getAboutPage()) as AboutPageData

const { headline, tagline } = sectionHero
---

<Layout title={metaData.seoTitle} description={metaData.seoDescription}>
  <section class:list={["mb-24", "relative"]}>
    <DecoLeafs />
    <Container>
      <Breadcrumbs path={path} />
    </Container>
    <Container>
      <div class:list={["lg:w-4/5", "mt-16", "mb-12", "md:mb-32"]}>
        <div class="mb-16">
          {headline && <HeadingText as="h1" text={headline} />}
          {tagline && <DecorativeText text={tagline} />}
        </div>
        {
          sectionAbout && (
            <div class:list={[]}>
              <PortableText
                value={sectionAbout}
                class:list={["portable-text"]}
              />
            </div>
          )
        }
      </div>
    </Container>
    <div>
      {
        decoImage && (
          <Picture
            src={urlForImage(decoImage.source)
              .width(1920)
              .format("webp")
              .quality(80)
              .url()}
            alt={decoImage.alt}
            width={1920}
            height={600}
            class:list={["rounded-lg", "object-cover"]}
          />
        )
      }
    </div>
  </section>
  <section>
    <Container>
      {
        sectionAboutValues && (
          <div class="mb-16">
            {sectionAboutValues.headline && (
              <HeadingText as="h1" text={sectionAboutValues.headline} />
            )}
            {sectionAboutValues.tagline && (
              <DecorativeText text={sectionAboutValues.tagline} />
            )}
          </div>
        )
      }
      <div
        class:list={[
          "grid",
          "sm:grid-cols-2",
          "xl:grid-cols-3",
          "gap-8",
          "mb-40",
        ]}
      >
        {
          sectionAboutValues.values.values.map((section, index) => {
            return (
              <Value
                icon={section.icon}
                title={section.title}
                body={section.body}
                index={index}
              />
            )
          })
        }
      </div>
    </Container>
  </section>
  {
    team && (
      <section class="mb-32">
        <Container>
          {sectionTeam && (
            <div class="mb-16">
              {sectionTeam.headline && (
                <HeadingText as="h1" text={sectionTeam.headline} />
              )}
              {sectionTeam.tagline && (
                <DecorativeText text={sectionTeam.tagline} />
              )}
            </div>
          )}
          <div
            class:list={[
              "grid",
              "sm:grid-cols-2",
              "gap-x-20",
              "gap-y-4",
              "sm:gap-y-20",
            ]}
          >
            {Array.isArray(team) &&
              team.map((member) => (
                <a
                  href={`o-nas/${member.slug.current}`}
                  class:list={["group", "flex"]}
                >
                  <article
                    class:list={[
                      "flex-grow",
                      "flex",
                      "border-t",
                      "border-t-neutral-100",
                      "border-r-2",
                      "border-secondary",
                      "rounded-lg",
                      "shadow-md",
                    ]}
                  >
                    <div
                      class:list={[
                        "flex-grow",
                        "flex",
                        "flex-grow",
                        "gap-8",
                        "items-center",
                        "p-2",
                      ]}
                    >
                      <div
                        class:list={[
                          "min-w-[40%]",
                          "max-w-[40%]",
                          "mx-auto",
                          "image-100",
                          "relative",
                          "overflow-hidden",
                        ]}
                      >
                        {member.image && (
                          <Picture
                            src={urlForImage(member.image.source)
                              .width(400)
                              .format("webp")
                              .quality(80)
                              .url()}
                            alt={member.image.alt}
                            width={400}
                            height={400}
                            class:list={[
                              "rounded-lg",
                              "object-cover",
                              "object-top",
                              "mix-blend-multiply",
                              "group-hover:scale-110",
                              "transition-transform",
                              "duration-500",
                              "ease-in-out",
                            ]}
                          />
                        )}
                      </div>
                      <div class:list={["flex-grow", "p-1", "sm:p-4"]}>
                        <h2
                          class:list={[
                            "text-double-pica",
                            "mb-2",
                            "font-deco",
                            "italic",
                          ]}
                        >
                          {member.name}
                        </h2>
                        <p class:list={["text-dark-500"]}>
                          {member.description}
                        </p>
                      </div>
                    </div>
                  </article>
                </a>
              ))}
          </div>
        </Container>
      </section>
    )
  }
</Layout>
