---
import { getPriceList } from "@/src/data"

import Container from "@/src/components/Container.astro"
import Layout from "@/src/layouts/Layout.astro"
import DecorativeText from "@/src/components/DecorativeText.astro"
import HeadingText from "@/src/components/HeadingText.astro"

const { sectionHero, priceList } = await getPriceList()
const { headline, tagline } = sectionHero
---

<Layout title="Cennik" description="">
  <section>
    <Container>
      <div class:list={["mx-auto", "w-3/4"]}>
        <div class="mb-16">
          {headline && <HeadingText as="h1" text={headline} />}
          {tagline && <DecorativeText text={tagline} />}
        </div>
        <div>
          {
            Array.isArray(priceList) &&
              priceList.map((item) => {
                const { name, variants } = item
                return (
                  <div class="mb-8">
                    <h2 class:list={["text-2xl", "font-bold", "mb-8"]}>
                      {name}
                    </h2>
                    <div>
                      {Array.isArray(variants) &&
                        variants.map((variant) => {
                          return (
                            <div
                              class:list={["flex", "justify-between", "mb-4"]}
                            >
                              <div class:list={["variant-name"]}>
                                <h2>{variant.name}</h2>
                              </div>
                              <p>{variant.price}</p>
                            </div>
                          )
                        })}
                    </div>
                  </div>
                )
              })
          }
        </div>
      </div>
    </Container>
  </section>
</Layout>

<style>
  .variant-name {
    max-width: 50%;
    margin-right: 0.5em;
  }

  p {
    display: flex;
    flex-grow: 1;
    align-self: end;
    font-size: var(--scale-great-primer);
    line-height: 0.95em;
    gap: 0.5em;

    &::before {
      content: "";
      flex-grow: 1;
      border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
    }
  }
</style>
