---
import Breadcrumbs from "../components/Breadcrumbs.astro"
import Container from "../components/Container.astro"
import DecoLeafs from "../components/DecoLeafs.astro"
import DecorativeText from "../components/DecorativeText.astro"
import HeadingText from "../components/HeadingText.astro"
import { getFaqPage } from "../data"
import type { FaqPage } from "../data/get-faq-page"
import Layout from "../layouts/Layout.astro"
import { PortableText } from "astro-portabletext"

const path = Astro.url.pathname

const { sectionHero, faqItems, metaData } = (await getFaqPage()) as FaqPage
const { headline, tagline } = sectionHero
---

<Layout title={metaData.seoTitle} description={metaData.seoDescription}>
  <section class="relative">
    <DecoLeafs />
    <Container>
      <Breadcrumbs path={path} />
      <div class:list={["mt-16"]}>
        <div class="mb-20">
          {headline && <HeadingText as="h1" text={headline} />}
          {tagline && <DecorativeText text={tagline} />}
        </div>
      </div>
      {
        faqItems.map(({ question, answer }, index: number) => (
          <div class="tab">
            <input
              type="radio"
              name="accordion-2"
              id={question}
              data-checked={false}
            />
            <label
              for={question}
              class:list={["tab__label", "group", "relative"]}
            >
              <span
                class:list={[
                  "absolute",
                  "text-2xl",
                  "sm:text-4xl",
                  "font-deco",
                  "right-0",
                  "top-2",
                  "text-primary",
                  "-z-10",
                ]}
              >
                {index < 9 ? `0${index + 1}` : index + 1}
              </span>
              <div class:list={["offer-tab", "flex", "py-6", "sm:py-8"]}>
                <div class:list={["flex", "items-center"]}>
                  <HeadingText
                    as="h3"
                    size="text-double-pica"
                    text={question}
                    uppercase={false}
                  />
                </div>
              </div>
              <div class="tab__content">
                <PortableText value={answer} class="content" />
              </div>
            </label>
          </div>
        ))
      }
    </Container>
  </section>
</Layout>

<style>
  .tab input {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
  }
  .tab__content {
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: all 0.7s;
    margin: 0;
    padding: 0 2rem 0 0;
    line-height: 1.5;
  }

  .tab input:checked ~ label .tab__content {
    max-height: 250px;
  }

  .accordion {
    overflow: hidden;
    padding: 1rem 0;
  }

  .tab__label {
    display: block;
    cursor: pointer;
    gap: 0 5rem;
    padding: 1rem;
  }

  .tab input:checked + .tab__label::after {
    transform: rotate(270deg);
  }

  @media (min-width: 768px) {
    .tab__label {
      cursor: pointer;
      padding: 1rem 2rem;
    }
  }
</style>

<script>
  const radioInputs = document.querySelectorAll(
    "input[type=radio]",
  ) as NodeListOf<HTMLInputElement>

  function handleClick(element: HTMLInputElement) {
    const elementChecked = element.getAttribute("data-checked")

    if (elementChecked === "true") {
      element.checked = false
      element.setAttribute("data-checked", "false")
    } else {
      element.setAttribute("data-checked", "true")
      radioInputs.forEach((input) => {
        if (input !== element) {
          input.checked = false
          input.setAttribute("data-checked", "false")
        }
      })
    }
  }

  radioInputs.forEach((input) => {
    input.addEventListener("click", () => handleClick(input))
  })
</script>
