---
import { getHomePage } from "@/src/data"

import Container from "@/src/components/Container.astro"
import DecorativeText from "@/src/components/DecorativeText.astro"
import HeadingText from "@/src/components/HeadingText.astro"
import Layout from "@/src/layouts/Layout.astro"
import ArticleTeaser from "@/src/components/article/ArticleTeaser.astro"
import TripleGrid from "@/src/components/TripleGrid.astro"
import ValuesGrid from "@/src/components/values/ValuesGrid.astro"

import leafIcon from "@/src/assets/leaf-1.svg?raw"
import leafIcon2 from "@/src/assets/leaf-2.svg?raw"

const {
  sectionHero,
  sectionBlog,
  blogArticles,
  sectionValues,
  sectionOffer,
  metaData,
} = await getHomePage()
---

<Layout
  title={metaData.seoTitle || "Poradnia Vivo"}
  description={metaData.seoDescription}
>
  <section class:list={["relative"]}>
    <Container>
      <div class:list={["h-[80vh]", "max-h-[750px]", "flex", "items-center"]}>
        <div class:list={["lg:w-4/5", "-mt-32"]}>
          <HeadingText as="h1" text={sectionHero.headline} />
          <DecorativeText text={sectionHero.tagline} />
        </div>
      </div>
    </Container>
    <div class:list={["absolute", "top-0", "w-full", "h-full", "-z-10"]}>
      <div
        class:list={["absolute", "-left-52", "lg:left-[unset]", "lg:right-72"]}
        set:html={leafIcon}
      />
      <div
        class:list={["hidden", "lg:block", "absolute", "-right-60"]}
        set:html={leafIcon2}
      />
    </div>
  </section>
  {
    sectionValues && (
      <section>
        <ValuesGrid valuesData={sectionValues} />
      </section>
    )
  }
  <section class:list={["h-screen"]}>
    <Container>
      <div class="grid grid-cols-5">
        <div class:list={["text-balance", "mb-12", "col-span-2"]}>
          <HeadingText as="h1" text={sectionOffer.headline} />
          <DecorativeText text={sectionOffer.tagline} />
        </div>
        <div class:list={["col-span-3", "pl-20"]}>
          <div class="mb-12">
            <h2 class:list={["text-paragon"]}>Oferta dla dzieci</h2>
            <p>
              Kompleksowa terapia indywidualna, m. in. fizjoterapeutyczna,
              pedagogiczna, psychologiczna, terapia zajęciowa, integracja
              sensoryczna (IS), trening umiejętności społecznych (TUS), oraz
              terapia słuchowa.
            </p>
          </div>
          <div class="mb-12">
            <h2 class:list={["text-paragon"]}>Oferta dla dzieci</h2>
            <p>
              Kompleksowa terapia indywidualna, m. in. fizjoterapeutyczna,
              pedagogiczna, psychologiczna, terapia zajęciowa, integracja
              sensoryczna (IS), trening umiejętności społecznych (TUS), oraz
              terapia słuchowa.
            </p>
          </div>
          <div class="mb-12">
            <h2 class:list={["text-paragon"]}>Oferta dla dzieci</h2>
            <p>
              Kompleksowa terapia indywidualna, m. in. fizjoterapeutyczna,
              pedagogiczna, psychologiczna, terapia zajęciowa, integracja
              sensoryczna (IS), trening umiejętności społecznych (TUS), oraz
              terapia słuchowa.
            </p>
          </div>
          <div></div>
        </div>
      </div>
    </Container>
  </section>
  <section>
    <Container>
      <div class:list={["text-center", "mb-12"]}>
        <HeadingText as="h1" text={sectionBlog.headline} />
        <DecorativeText text={sectionBlog.tagline} />
      </div>
      {
        blogArticles && (
          <TripleGrid>
            {blogArticles.map((article) => (
              <ArticleTeaser data={article} />
            ))}
          </TripleGrid>
        )
      }
      <div class:list={["text-center", "mb-12"]}>
        <a href="/blog" class:list={["button", "button-primary"]}> Więcej </a>
      </div>
    </Container>
  </section>
</Layout>
