---
import { getHomePage } from "@/src/data"

import Container from "@/src/components/Container.astro"
import DecorativeText from "@/src/components/DecorativeText.astro"
import HeadingText from "@/src/components/HeadingText.astro"
import Layout from "@/src/layouts/Layout.astro"
import ArticleTeaser from "@/src/components/article/ArticleTeaser.astro"
import TripleGrid from "@/src/components/TripleGrid.astro"
import ValuesGrid from "@/src/components/values/ValuesGrid.astro"

import leafIcon from "@/src/assets/leaf-1.svg?raw"
import leafIcon2 from "@/src/assets/leaf-2.svg?raw"

const { sectionHero, sectionBlog, blogArticles, sectionValues } =
  await getHomePage()
---

<Layout title="Poradnia psychologiczno-pedagogiczna Vivo" description="">
  <section class:list={["relative"]}>
    <Container>
      <div class:list={["h-[80vh]", "max-h-[750px]", "flex", "items-center"]}>
        <div class:list={["lg:w-4/5", "-mt-32"]}>
          <HeadingText as="h1" text={sectionHero.headline} />
          <DecorativeText text={sectionHero.tagline} />
        </div>
      </div>
    </Container>
    <div class:list={["absolute", "top-0", "w-full", "h-full"]}>
      <div class:list={["absolute", "right-72"]} set:html={leafIcon} />
      <div class:list={["absolute", "-right-60"]} set:html={leafIcon2} />
    </div>
  </section>
  {
    sectionValues && (
      <section>
        <ValuesGrid valuesData={sectionValues} />
      </section>
    )
  }
  <!-- <section>
    <Container>
      <div class:list={["text-center", "mb-12"]}>
        <HeadingText as="h1" text={sectionOffer.headline} />
        <DecorativeText text={sectionOffer.tagline} />
      </div>
    </Container>
  </section> -->
  <section>
    <Container>
      <div class:list={["text-center", "mb-12"]}>
        <HeadingText as="h1" text={sectionBlog.headline} />
        <DecorativeText text={sectionBlog.tagline} />
      </div>
      {
        blogArticles && (
          <TripleGrid>
            {blogArticles.map((article) => (
              <ArticleTeaser data={article} />
            ))}
          </TripleGrid>
        )
      }
      <div class:list={["text-center", "mb-12"]}>
        <a href="/blog" class:list={["button", "button-primary"]}> Więcej </a>
      </div>
    </Container>
  </section>
</Layout>
