---
import { getHomePage } from "@/src/data"
import { urlForImage } from "@/src/utils"

import { Icon } from "astro-icon/components"
import { PortableText } from "astro-portabletext"
import { Image } from "astro:assets"

import Container from "@/src/components/Container.astro"
import DecorativeText from "@/src/components/DecorativeText.astro"
import HeadingText from "@/src/components/HeadingText.astro"
import Layout from "@/src/layouts/Layout.astro"
import ArticleTeaser from "@/src/components/article/ArticleTeaser.astro"
import TripleGrid from "@/src/components/TripleGrid.astro"
import ValuesGrid from "@/src/components/values/ValuesGrid.astro"
import DecoLeafs from "@/src/components/DecoLeafs.astro"



const {
  sectionHero,
  sectionValues,
  sectionOffer,
  sectionAbout,
  team,
  sectionBlog,
  blogArticles,
  metaData,
} = await getHomePage()
---

<Layout
  title={metaData.seoTitle || "Poradnia Vivo"}
  description={metaData.seoDescription}
>
  <section class:list={["relative"]}>
    <Container>
      <div class:list={["h-[80vh]", "max-h-[750px]", "flex", "items-center"]}>
        <div class:list={["lg:w-4/5", "-mt-32"]}>
          <HeadingText as="h1" text={sectionHero.headline} />
          <DecorativeText text={sectionHero.tagline} />
        </div>
      </div>
    </Container>
    <DecoLeafs />
  </section>
  {
    sectionValues && (
      <section>
        <ValuesGrid valuesData={sectionValues} />
      </section>
    )
  }
  {
    sectionOffer && (
      <section
        class:list={["sm:h-screen", "flex", "items-center", "mb-20", "sm:mb-0"]}
      >
        <Container>
          <div class:list={["sm:grid", "grid-cols-5", "-mt-32"]}>
            {sectionOffer.intro && (
              <div
                class:list={["text-balance", "col-span-2", "mb-12", "sm:mb-0"]}
              >
                <HeadingText as="h1" text={sectionOffer.intro.headline} />
                <DecorativeText text={sectionOffer.intro.tagline} />
              </div>
            )}
            {sectionOffer.offerGroups && (
              <div class:list={["col-span-3", "sm:pl-32"]}>
                {Array.isArray(sectionOffer.offerGroups) &&
                  sectionOffer.offerGroups.map((group) => (
                    <a
                      href={`/terapie/${group.slug}`}
                      class:list={[
                        "group",
                        "relative",
                        "block",
                        "py-6",
                        "sm:p-12",
                      ]}
                    >
                      <div class="offer-tab">
                        <div class:list={["flex", "gap-4", "items-center"]}>
                          <h2 class:list={["text-paragon"]}>{group.title}</h2>
                          <Icon
                            size={30}
                            name="mdi:share"
                            class:list={[
                              "group-hover:text-primary",
                              "group-hover:scale-110",
                              "transition-all",
                            ]}
                          />
                        </div>
                        <PortableText value={group.description} />
                      </div>
                    </a>
                  ))}
                <div />
              </div>
            )}
          </div>
        </Container>
      </section>
    )
  }
  <section
    class:list={[
      "mb-32",
      "bg-primary-800",
      "py-20",
      "md:py-32",
      "text-light-50",
    ]}
    id="about-us"
  >
    <Container>
      <div class:list={["mb-20", "text-center", "text-light-50"]}>
        <HeadingText as="h1" text={sectionAbout.intro.headline} />
        <DecorativeText text={sectionAbout.intro.tagline} color="white" />
      </div>
      <ul
        class:list={[
          "flex",
          "flex-wrap",
          "justify-between",
          "mb-20",
          "md:mb-32",
          "md:mx-20",
          "gap-6",
          "md:gap-0",
        ]}
      >
        <li class="features-tab">
          Certyfikowana niepubliczna placówka na terenie Kobyłki spełniająca
          wymogi ministerialne.
        </li>
        <li class:list={["features-tab", "md:text-right"]}>
          Kompleksowa oferta terapeutyczna oparta na doświadczeniu specjalistów
          i dopasowanej infrastrukturze.
        </li>
        <li class="features-tab">
          Wyjątkowe miejsce: przyjazne, nowoczesne i świetnie wyposażone.
        </li>
        <li class:list={["features-tab", "md:text-right"]}>
          Zespół z pasją, doświadczeniem i wszechstronną wiedzą.
        </li>
      </ul>
      {
        team && (
          <div
            class:list={[
              "flex",
              "justify-around",
              "mb-24",
              "flex-wrap",
              "gap-10",
            ]}
          >
            {Array.isArray(team) &&
              team.map((member) => {
                if (!member.image) return null

                return (
                  <a
                    href={`/o-nas/${member.slug.current}`}
                    class:list={["w-28", "md:w-48", "px-4"]}
                  >
                    <div
                      class:list={["flex", "flex-col", "items-center", "gap-4"]}
                    >
                      {member.image && (
                        <div
                          class:list={[
                            "w-20",
                            "h-20",
                            "md:w-32",
                            "md:h-32",
                            "relative",
                            "thumb-image",
                          ]}
                        >
                          <Image
                            src={urlForImage(member.image.source)
                              .width(140)
                              .format("webp")
                              .quality(80)
                              .url()}
                            alt={member.image.alt}
                            width={140}
                            height={140}
                            class:list={[
                              "absolute",
                              "w-full",
                              "h-full",
                              "object-cover",
                              "rounded-full",
                              "object-top",
                            ]}
                          />
                        </div>
                      )}
                      <div>
                        <h2 class:list={["text-center", "text-great-primer"]}>
                          {member.name}
                        </h2>
                      </div>
                    </div>
                  </a>
                )
              })}
          </div>
        )
      }
      <div class:list={["text-center", "mb-12"]}>
        <a href="/o-nas" class:list={["button", "button-outline", "font-bold"]}>
          Więcej
        </a>
      </div>
    </Container>
  </section>
  <section>
    <Container>
      <div class:list={["text-center", "mb-12"]}>
        <HeadingText as="h1" text={sectionBlog.headline} />
        <DecorativeText text={sectionBlog.tagline} />
      </div>
      {
        blogArticles && (
          <TripleGrid>
            {blogArticles.map((article) => (
              <ArticleTeaser data={article} />
            ))}
          </TripleGrid>
        )
      }
      <div class:list={["text-center"]}>
        <a href="/blog" class:list={["button", "button-primary", "font-bold"]}>
          Więcej
        </a>
      </div>
    </Container>
  </section>
</Layout>

<style>
  .thumb-image::after {
    content: "";
    position: absolute;
    top: -5%;
    left: -10%;
    width: 100%;
    height: 100%;
    background-color: var(--color-secondary-300);
    border-radius: 50%;
    z-index: -1;
  }
</style>

<script>
  const sectionAbout = document.getElementById("about-us")
  const options = {
    root: null,
    rootMargin: "0px",
    threshold: 0.5,
  }
  const observer = new IntersectionObserver(checkElementOffset, options)
  const header = document.querySelector(".header")

  !header || (!sectionAbout && null)

  function checkElementOffset(entries: IntersectionObserverEntry[]): void {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        if (!header) return console.error("No header")
        const headerBottom = header.getBoundingClientRect().bottom

        window.addEventListener("scroll", () => {
          const target = entry.target
          const targetClientRect = target.getBoundingClientRect()

          if (
            targetClientRect.top < headerBottom &&
            targetClientRect.bottom > headerBottom
          ) {
            header.setAttribute("variant", "primary")
          } else {
            header.setAttribute("variant", "none")
          }
        })
      }
    })
  }

  sectionAbout && observer.observe(sectionAbout)
</script>
