---
import { getHomePage } from "@/src/data"

import Container from "@/src/components/Container.astro"
import DecorativeText from "@/src/components/DecorativeText.astro"
import HeadingText from "@/src/components/HeadingText.astro"
import Layout from "@/src/layouts/Layout.astro"
import ArticleTeaser from "@/src/components/article/ArticleTeaser.astro"
import TripleGrid from "@/src/components/TripleGrid.astro"
import ValuesGrid from "@/src/components/values/ValuesGrid.astro"

import leafIcon from "@/src/assets/leaf-1.svg?raw"
import leafIcon2 from "@/src/assets/leaf-2.svg?raw"
import { Icon } from "astro-icon/components"

const {
  sectionHero,
  sectionBlog,
  blogArticles,
  sectionValues,
  sectionOffer,
  metaData,
} = await getHomePage()
---

<Layout
  title={metaData.seoTitle || "Poradnia Vivo"}
  description={metaData.seoDescription}
>
  <section class:list={["relative"]}>
    <Container>
      <div class:list={["h-[80vh]", "max-h-[750px]", "flex", "items-center"]}>
        <div class:list={["lg:w-4/5", "-mt-32"]}>
          <HeadingText as="h1" text={sectionHero.headline} />
          <DecorativeText text={sectionHero.tagline} />
        </div>
      </div>
    </Container>
    <div class:list={["absolute", "top-0", "w-full", "h-full", "-z-10"]}>
      <div
        class:list={["absolute", "-left-52", "lg:left-[unset]", "lg:right-72"]}
        set:html={leafIcon}
      />
      <div
        class:list={["hidden", "lg:block", "absolute", "-right-60"]}
        set:html={leafIcon2}
      />
    </div>
  </section>
  {
    sectionValues && (
      <section>
        <ValuesGrid valuesData={sectionValues} />
      </section>
    )
  }
  {
    sectionOffer && (
      <section
        class:list={["sm:h-screen", "flex", "items-center", "mb-20", "sm:mb-0"]}
      >
        <Container>
          <div class:list={["sm:grid", "grid-cols-5", "-mt-32"]}>
            {sectionOffer.intro && (
              <div
                class:list={["text-balance", "col-span-2", "mb-12", "sm:mb-0"]}
              >
                <HeadingText as="h1" text={sectionOffer.intro.headline} />
                <DecorativeText text={sectionOffer.intro.tagline} />
              </div>
            )}
            {sectionOffer.offerGroups && (
              <div class:list={["col-span-3", "sm:pl-32"]}>
                {Array.isArray(sectionOffer.offerGroups) &&
                  sectionOffer.offerGroups.map((group) => (
                    <div
                      class:list={["mb-16", "sm:mb-12", "relative", "sm:p-8"]}
                    >
                      <a href="/" class:list={["group"]}>
                        <div
                          class:list={[
                            "after:content-['']",
                            "after:block",
                            "after:absolute",
                            "after:shadow-custom-sm",
                            "after:w-[calc(100%+2rem)]",
                            "after:sm:w-full",
                            "after:h-[calc(100%+2rem)]",
                            "after:-translate-x-1/2",
                            "after:-translate-y-1/2",
                            "after:sm:h-full",
                            "after:top-1/2",
                            "after:left-1/2",
                            "after:z-[-1]",
                            "after:rounded-md",
                            "after:opacity-0",
                            "after:transition-all",
                            "after:group-hover:opacity-100",
                          ]}
                        >
                          <div class:list={["flex", "gap-4", "items-center"]}>
                            <h2 class:list={["text-paragon"]}>{group.title}</h2>
                            <Icon
                              size={30}
                              name="mdi:share"
                              class:list={[
                                "group-hover:text-primary",
                                "group-hover:scale-110",
                                "transition-all",
                              ]}
                            />
                          </div>
                          <p>{group.description}</p>
                        </div>
                      </a>
                    </div>
                  ))}
                <div />
              </div>
            )}
          </div>
        </Container>
      </section>
    )
  }
  <section>
    <Container>
      <div class:list={["text-center", "mb-12"]}>
        <HeadingText as="h1" text={sectionBlog.headline} />
        <DecorativeText text={sectionBlog.tagline} />
      </div>
      {
        blogArticles && (
          <TripleGrid>
            {blogArticles.map((article) => (
              <ArticleTeaser data={article} />
            ))}
          </TripleGrid>
        )
      }
      <div class:list={["text-center", "mb-12"]}>
        <a href="/blog" class:list={["button", "button-primary"]}> Więcej </a>
      </div>
    </Container>
  </section>
</Layout>
