---
import { Image } from "astro:assets"
import type { BlogArticleType } from "../types"
import Card from "./Card.astro"

import imageUrlBuilder from "@sanity/image-url"
import { sanityClient } from "sanity:client"

const { title, slug, published, author, mainImage } = Astro.props
  .data as BlogArticleType
const formatedDate = formatDateString(published)

type DateTimeFormatOptions = {
  year: "numeric" | "2-digit"
  month: "numeric" | "2-digit" | "long" | "short" | "narrow"
  day: "numeric" | "2-digit"
}

function formatDateString(dateString: string) {
  const date = new Date(dateString)
  const options = {
    year: "numeric",
    month: "long",
    day: "numeric",
  }

  return date.toLocaleDateString("pl-PL", options as DateTimeFormatOptions)
}

function urlForImage(source: string) {
  const builder = imageUrlBuilder(sanityClient)
  return builder.image(source)
}
---

<a href={`blog/${slug}`}>
  <article>
    <Card>
      {
        mainImage && (
          <div class:list={["w-full", "h-40", "relative"]}>
            <Image
              src={urlForImage(mainImage.source).url()}
              alt={mainImage.alt}
              width={200}
              height={200}
              class:list={["absolute", "w-full", "h-full", "object-cover"]}
            />
          </div>
        )
      }
      {formatedDate}
      image categories
      {title}
      description
      <div class:list={["flex", "items-center", "gap-4"]}>
        {
          author.image && (
            <div class:list={["w-12", "h-12", "relative"]}>
              <Image
                src={urlForImage(author.image.source).url()}
                alt={author.image.alt}
                width={200}
                height={200}
                class:list={["absolute", "w-full", "h-full", "object-cover"]}
              />
            </div>
          )
        }
        {author.name}
      </div>
    </Card>
  </article>
</a>
