---
import { Image } from "astro:assets"
import type { BlogArticleType } from "../types"
import Card from "./Card.astro"

import imageUrlBuilder from "@sanity/image-url"
import { sanityClient } from "sanity:client"
import { PortableText } from "astro-portabletext"
import Pill from "./Pill.astro"
import ArticleTeaserBody from "./ArticleTeaserBody.astro"

const { title, slug, published, author, mainImage, description, categories } =
  Astro.props.data as BlogArticleType
const formatedDate = formatDateString(published)

type DateTimeFormatOptions = {
  year: "numeric" | "2-digit"
  month: "numeric" | "2-digit" | "long" | "short" | "narrow"
  day: "numeric" | "2-digit"
}

function formatDateString(dateString: string) {
  const date = new Date(dateString)
  const options = {
    year: "numeric",
    month: "long",
    day: "numeric",
  }

  return date.toLocaleDateString("pl-PL", options as DateTimeFormatOptions)
}

function urlForImage(source: string) {
  const builder = imageUrlBuilder(sanityClient)
  return builder.image(source)
}
---

<a
  href={`blog/${slug}`}
  class:list={["hover:bg-light-500", "flex", "transition-colors", "rounded-md"]}
>
  <article class="flex-grow">
    <Card>
      <div class:list={["w-full", "image-75", "relative", "rounded-md"]}>
        {
          mainImage ? (
            <Image
              src={urlForImage(mainImage.source).url()}
              alt={mainImage.alt}
              width={400}
              height={400}
              class:list={["rounded-md", "object-cover"]}
            />
          ) : (
            <Image
              src="/src/assets/vivo-logo.jpg"
              alt="Logo Vivo"
              width={400}
              height={400}
              class:list={[
                "rounded-md",
                "object-contain",
                "mix-blend-multiply",
              ]}
            />
          )
        }
      </div>
      <div class:list={["p-4", "flex", "flex-col", "gap-4", "flex-grow"]}>
        <div class:list={["text-pica", "text-dark-200"]}>{formatedDate}</div>
        <div class:list={["flex", "gap-2", "flex-wrap", "mb-4"]}>
          {categories.map((category) => <Pill>{category}</Pill>)}
        </div>
        <ArticleTeaserBody>
          <h2
            class:list={[
              "text-great-primer",
              "leading-6",
              "line-clamp-3",
              "text-balance",
              "flex-grow"
            ]}
          >
            {title}
          </h2>
          <PortableText
            value={description}
            class:list={["line-clamp-5", "text-balance"]}
          />
        </ArticleTeaserBody>
        <div
          class:list={[
            "flex",
            "items-center",
            "gap-4",
            "border-t",
            "border-secondary-100",
            "pt-4",
            "mt-4",
          ]}
        >
          {
            author.image && (
              <div class:list={["w-16", "h-16", "relative"]}>
                <Image
                  src={urlForImage(author.image.source).url()}
                  alt={author.image.alt}
                  width={300}
                  height={300}
                  class:list={[
                    "absolute",
                    "w-full",
                    "h-full",
                    "object-cover",
                    "rounded-full",
                    "object-top",
                  ]}
                />
              </div>
            )
          }
          {author.name}
        </div>
      </div>
    </Card>
  </article>
</a>

<style>
  .image-75 {
    overflow: hidden;
  }

  .image-75 img {
    transition: transform 0.15s;
  }

  a:hover .image-75 img {
    transform: scale(1.1);
  }
</style>
