---
import CustomImage from "./CustomImage.astro"
import Link from "./Link.astro"
import SocialIcon from "./SocialIcon.astro"
import type { IContact } from "@/src/data/domain"
import { Icon } from "astro-icon/components"

interface Props {
  socials: {
    facebook?: string
    instagram?: string
    linkedin?: string
    youtube?: string
  }
  registration: IContact["medfile"]
  contact: {
    email: string
    phone: string
  }
}

const { socials, registration, contact } = Astro.props
---

<nav
  id="nav"
  class:list={[
    "flex",
    "justify-between",
    "items-center",
    "max-w-[1680px]",
    "mx-auto",
  ]}
>
  <a href="/" class:list={["logo", "duration-300", "z-[999]"]}>
    <CustomImage
      src="/src/assets/vivo-logo.png"
      alt="Vivo logo"
      wrapperClasses={["w-20", "xl:w-32"]}
      width={300}
      height={300}
    />
  </a>
  <div
    class:list={[
      "menu",
      "absolute",
      "top-0",
      "left-0",
      "translate-x-full",
      "transition-transform",
      "w-full",
      "h-screen",
      "after:bg-secondary",
      "pt-60",
      "gap-8",
      "flex",
      "flex-col",
      "flex-grow",
      "px-4",
      "z-10",
      "xl:px-20",
      "items-center",
      "xl:translate-x-0",
      "xl:w-auto",
      "xl:h-auto",
      "xl:gap-12",
      "xl:pt-0",
      "xl:static",
      "xl:flex-row",
      "xl:bg-transparent",
      "text-4xl",
      "xl:text-great-primer",
      "uppercase",
      "text-light-50",
      "xl:text-dark-800",
    ]}
  >
    <Link href="/" classes={["xl:hidden"]}>Strona główna</Link>
    <Link href="/o-nas">O nas</Link>
    <Link href="/terapie">Terapie</Link>
    <Link href="/diagnozy">Diagnozy</Link>
    <Link href="/blog"> Blog </Link>
    <Link href="/cennik">Cennik</Link>
    <Link href="/faq">FAQ</Link>
    {
      socials && (
        <span
          class:list={["xl:hidden", "flex", "mt-12", "gap-4", "items-center"]}
        >
          {socials.facebook && (
            <SocialIcon
              href={socials.facebook}
              media={"facebook"}
              variant="mobile"
            />
          )}
          {socials.instagram && (
            <SocialIcon
              href={socials.instagram}
              media={"instagram"}
              variant="mobile"
            />
          )}
          {socials.linkedin && (
            <SocialIcon
              href={socials.linkedin}
              media={"linkedin"}
              variant="mobile"
            />
          )}
          {socials.youtube && (
            <SocialIcon
              href={socials.youtube}
              media={"youtube"}
              variant="mobile"
            />
          )}
        </span>
      )
    }
  </div>
  <div class:list={["flex", "items-center", "gap-2", "relative", "z-[999]"]}>
    {
      contact && (
        <div class:list={["hidden", "xl:flex", "gap-2", "items-center"]}>
          <a
            href={`tel:${contact.phone}`}
            class:list={[
              "flex",
              "gap-2",
              "items-center",
              "social-icon-primary",
            ]}
          >
            <Icon size={45} name="f7:phone-circle-fill" />
          </a>
          <a
            href={`mailto:${contact.email}`}
            class:list={[
              "flex",
              "gap-2",
              "items-center",
              "social-icon-primary",
            ]}
          >
            <Icon size={45} name="f7:envelope-circle-fill" />
          </a>
        </div>
      )
    }
    {
      socials && (
        <div class:list={["hidden", "gap-2", "xl:flex"]}>
          {socials.facebook && (
            <SocialIcon
              href={socials.facebook}
              media={"facebook"}
              variant="header"
            />
          )}
          {socials.instagram && (
            <SocialIcon
              href={socials.instagram}
              media={"instagram"}
              variant="header"
            />
          )}
          {socials.linkedin && (
            <SocialIcon
              href={socials.linkedin}
              media={"linkedin"}
              variant="header"
            />
          )}
          {socials.youtube && (
            <SocialIcon
              href={socials.youtube}
              media={"youtube"}
              variant="header"
            />
          )}
        </div>
      )
    }
    <div class:list={["flex", "gap-2"]}>
      {
        contact.phone && (
          <a
            href={`tel:${contact.phone}`}
            class:list={[
              "phone-icon",
              "flex",
              "gap-2",
              "items-center",
              "social-icon-primary",
              "xl:hidden",
            ]}
          >
            <Icon size={50} name="f7:phone-circle-fill" />
          </a>
        )
      }
      <a
        href={registration.generalLink}
        class:list={["button", "button-primary", "font-bold"]}
        target="_blank"
      >
        Umów wizytę
      </a>
    </div>
    <button
      class:list={[
        "hamburger",
        "flex",
        "flex-col",
        "justify-center",
        "items-center",
        "xl:hidden",
      ]}
      aria-label="Menu"
      aria-expanded="false"
      aria-controls="menu"
    >
      <span></span><span></span><span></span>
    </button>
  </div>
</nav>

<script>
  document.addEventListener("astro:page-load", () => {
    const hamburger = document.querySelector(".hamburger")
    const nav = document.querySelector(".menu")
    const htmlElement = document.querySelector("html")
    const navElement = document.querySelector("#nav")
    const logo = document.querySelector(".logo")
    const phoneIcon = document.querySelector(".phone-icon")

    if (hamburger && nav && htmlElement && navElement && logo && phoneIcon) {
      hamburger.addEventListener("click", () => {
        hamburger.classList.toggle("active")
        nav.classList.toggle("is-visible")
        htmlElement.classList.toggle("overflow-hidden")
        navElement.classList.toggle("open-nav")
        logo.classList.toggle("active")
        phoneIcon.classList.toggle("active")
      })
    }
  })
</script>

<style>
  .open-nav .button-primary {
    background-color: #fff;
    color: var(--color-dark);
  }

  .phone-icon {
    transition: all 0.3s;
  }

  .logo.active,
  .phone-icon.active {
    filter: brightness(0) invert(1);
  }

  .button-primary {
    transition: all 0.3s;
  }

  .hamburger {
    position: relative;
    z-index: 999;
    padding: 2rem;
  }

  .hamburger span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    transform-origin: center;
    width: 30px;
    height: 2px;
    background-color: #000;
    transition: all 0.3s;
  }

  .hamburger span:nth-child(1) {
    transform: translate(-50%, -350%);
  }

  .hamburger span:nth-child(3) {
    transform: translate(-50%, 350%);
  }

  .hamburger.active span {
    transform: translate(-50%, -50%);
    background-color: #fff;
  }

  .hamburger.active span:nth-child(1) {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .hamburger.active span:nth-child(3) {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }
</style>
