---
import { getOfferGroup, getOfferGroupsSlugs } from "@/src/data"

import { PortableText } from "astro-portabletext"

import Container from "@/src/components/Container.astro"
import HeadingText from "@/src/components/HeadingText.astro"
import Breadcrumbs from "@/src/components/Breadcrumbs.astro"
import DecoLeafs from "@/src/components/DecoLeafs.astro"
import Layout from "@/src/layouts/Layout.astro"
import Accordion from "@/src/components/Accordion.astro"

export async function getStaticPaths() {
  async function obtainOfferGroupsSlugs() {
    const slugs = await getOfferGroupsSlugs()

    type Slug = {
      slug: {
        current: string
      }
    }

    return slugs.map((slug: Slug) => {
      return {
        params: {
          slug: slug.slug.current,
        },
      }
    })
  }

  const slugs = await obtainOfferGroupsSlugs()

  return [...slugs]
}

const path = Astro.url.pathname
const currentSlug = Astro.params.slug
const offerGroup = await getOfferGroup(currentSlug)

const individualServices = offerGroup.services.filter(
  (service) => service.subgroup === "Terapie indywidualne",
)
const auditoryServices = offerGroup.services.filter(
  (service) => service.subgroup === "Słuchowe",
)

const workshops = offerGroup.services.filter(
  (service) => service.workshops === true,
)

const services = offerGroup.services.filter(
  (service) =>
    service.subgroup !== "Terapie indywidualne" &&
    service.subgroup !== "Słuchowe" &&
    service.workshops !== true,
)
---

<Layout title={offerGroup.title} description={offerGroup.title}>
  <section class:list={["relative"]}>
    <Container>
      <Breadcrumbs path={path} />
      <div class:list={["lg:w-4/5", "mx-auto", "text-center", "m-32"]}>
        <HeadingText
          as="h1"
          text={offerGroup.title}
          size={["text-trafalgar", "md:text-canon"]}
        />
        <PortableText
          class="text-great-primer"
          value={offerGroup.description}
        />
      </div>
      {
        services.length > 0 && (
          <section class="mb-8">
            <HeadingText as="h2" text="Terapie" size="text-double-pica" />
            <Accordion services={services} />
          </section>
        )
      }
      {
        individualServices.length > 0 && (
          <section class="mb-8">
            <HeadingText
              as="h2"
              text="Terapie indywidualne"
              size="text-double-pica"
            />
            <Accordion services={individualServices} />
          </section>
        )
      }
      {
        auditoryServices.length > 0 && (
          <section class="mb-12">
            <HeadingText
              as="h2"
              text="Terapie słuchowe"
              size="text-double-pica"
            />

            <Accordion services={auditoryServices} />
          </section>
        )
      }
      {
        workshops.length > 0 && (
          <section class="mb-8">
            <HeadingText as="h2" text="Warsztaty" size="text-double-pica" />
            <Accordion services={workshops} />
          </section>
        )
      }
    </Container>
    <DecoLeafs />
  </section>
</Layout>

<style>
  section {
    h2 {
      font-weight: 700;
    }
  }
</style>
