---
import { getOfferPage } from "@/src/data"

import { PortableText } from "astro-portabletext"
import { Icon } from "astro-icon/components"

import OfferTile from "@/src/components/OfferTile.astro"
import Container from "@/src/components/Container.astro"
import Breadcrumbs from "@/src/components/Breadcrumbs.astro"
import DecoLeafs from "@/src/components/DecoLeafs.astro"
import Layout from "@/src/layouts/Layout.astro"

import type { OfferPageData } from "@/src/types"

const path = Astro.url.pathname
const { metaData, offerGroups } = (await getOfferPage()) as OfferPageData
---

<Layout title={metaData.seoTitle} description={metaData.seoDescription}>
  <section class:list={["relative", "pb-40"]}>
    <Container>
      <Breadcrumbs path={path} />
      <div
        class:list={[
          "sm:grid",
          "w-full",
          "grid-cols-3",
          "pt-20",
        ]}
      >
        {
          offerGroups.map((group) => {
            return (
              <OfferTile as="a" href={`/terapie/${group.slug}`}>
                <div class:list={["flex", "flex-col", "h-full", "gap-4"]}>
                  <div
                    class:list={["flex", "gap-4", "justify-between", "w-full"]}
                  >
                    <h2
                      class:list={[
                        "text-paragon",
                        "h-[calc(2*1.5em)]",
                        "sm:h-[calc(3*1.5em)]",
                        "overflow-hidden",
                      ]}
                    >
                      {group.title}
                    </h2>
                    <Icon
                      size={40}
                      name="mdi:share"
                      class:list={[
                        "group-hover:text-primary",
                        "group-hover:scale-110",
                        "transition-all",
                        "min-w-10",
                        "min-h-10",
                      ]}
                    />
                  </div>
                  <PortableText value={group.description} />
                </div>
              </OfferTile>
            )
          })
        }
      </div>
    </Container>
    <DecoLeafs />
  </section>
</Layout>
