---
import { getOfferPage } from "@/src/data"

import Container from "@/src/components/Container.astro"
import Layout from "@/src/layouts/Layout.astro"
import OfferTile from "@/src/components/OfferTile.astro"
import leafIcon from "@/src/assets/leaf-1.svg?raw"
import leafIcon2 from "@/src/assets/leaf-2.svg?raw"
import type { OfferPageData } from "@/src/types"
import { PortableText } from "astro-portabletext"
import { Icon } from "astro-icon/components"

const { metaData, offerGroups } = (await getOfferPage()) as OfferPageData
---

<Layout title={metaData.seoTitle} description={metaData.seoDescription}>
  <section class:list={["relative", "py-40"]}>
    <Container>
      <div class:list={["sm:grid", "w-full", "grid-cols-3"]}>
        {
          offerGroups.map((group) => {
            return (
              <>
                <OfferTile as="a" href={`/terapie/${group.slug}`}>
                  <div class:list={["flex", "flex-col", "h-full", "gap-4"]}>
                    <div
                      class:list={[
                        "flex",
                        "gap-4",
                        "justify-between",
                        "w-full",
                      ]}
                    >
                      <h2
                        class:list={[
                          "text-paragon",
                          "h-[calc(2*1.5em)]",
                          "sm:h-[calc(3*1.5em)]",
                          "overflow-hidden",
                        ]}
                      >
                        {group.title}
                      </h2>
                      <Icon
                        size={40}
                        name="mdi:share"
                        class:list={[
                          "group-hover:text-primary",
                          "group-hover:scale-110",
                          "transition-all",
                          "min-w-10",
                          "min-h-10",
                        ]}
                      />
                    </div>
                    <PortableText value={group.description} />
                  </div>
                </OfferTile>
              </>
            )
          })
        }
      </div>
    </Container>

    <div class:list={["absolute", "top-0", "w-full", "h-full", "-z-10"]}>
      <div
        class:list={["absolute", "-left-52", "lg:left-[unset]", "lg:right-72"]}
        set:html={leafIcon}
      />
      <div
        class:list={["hidden", "lg:block", "absolute", "-right-60"]}
        set:html={leafIcon2}
      />
    </div>
  </section>
</Layout>
