---
import { SEO } from "astro-seo"
import { ViewTransitions } from "astro:transitions"

import Footer from "@/src/components/Footer.astro"
import Header from "@/src/components/Header.astro"
import Nav from "@/src/components/Nav.astro"
import Link from "@/src/components/Link.astro"
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer"
import { getGlobalData } from "@/src/data"
import { Icon } from "astro-icon/components"
import { getMedfile } from "@/src/data/presentation"
import Overlay from "@/src/components/Overlay.astro"

import "@/src/styles/globals.css"
import "@/src/styles/vars.css"

interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
const { address, contact, name, socials } = await getGlobalData()

const medfile = await getMedfile()

const pathname = Astro.url.pathname.replace(/^\/+/, "")
const canonical = `${Astro.site}${pathname}`
---

<!doctype html>
<html lang="pl">
  <head>
    <SEO
      title={title}
      titleTemplate="%s  | Vivo"
      description={description}
      charset="UTF-8"
      canonical={canonical}
      openGraph={{
        basic: {
          title,
          type: "website",
          url: canonical,
          image: "/src/assets/vivo-logo.jpg",
        },
        optional: {
          description,
          locale: "pl_PL",
          siteName: "Poradnia Psychologiczno-Pedagogiczna VIVO",
        },
      }}
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <meta name="generator" content={Astro.generator} />
    <GoogleFontsOptimizer
      url="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap"
    />
    <GoogleFontsOptimizer
      url="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400&display=swap"
    />
    <!-- TODO -->
    <ViewTransitions />
  </head>
  <body>
    <Overlay />
    <Header>
      <Nav socials={socials} registration={medfile} />
    </Header>
    <main>
      <slot />
    </main>
    <Footer>
      <div class="text-great-primer">
        <h1 class:list={["uppercase"]}>{name}</h1>
        <address
          class:list={["not-italic", "my-8", "flex", "flex-col", "gap-2"]}
        >
          <div>
            {address.street}
            {address.number}
          </div>
          <div>
            {address.zip}, {address.city}
          </div>
        </address>
        <div class:list={["flex", "flex-col", "my-4", "gap-2"]}>
          <Link href={`tel:${contact.phone}`}>
            <div class:list={["flex", "gap-2", "items-center"]}>
              <Icon size={30} name="mdi:phone" />
              {contact.phone}
            </div>
          </Link>
          <Link href={`mailto:${contact.email}`}>
            <div class:list={["flex", "gap-2", "items-center"]}>
              <Icon size={30} name="mdi:email" />
              {contact.email}
            </div>
          </Link>
        </div>
      </div>
    </Footer>
    <script>
      import { gsap } from "gsap"
      import { ScrollTrigger } from "gsap/ScrollTrigger"

      gsap.registerPlugin(ScrollTrigger)

      const animationItems = gsap.utils.toArray<HTMLElement>(".animate-fade-in")

      animationItems.forEach((item) => {
        gsap.to(item, {
          scrollTrigger: {
            trigger: item,
            start: "top 90%",
          },
          opacity: 1,
          y: 0,
          duration: 0.5,
          stagger: 0.2,
          ease: "power1.out",
        })
      })

      gsap.to(".animate-thumb", {
        scrollTrigger: {
          trigger: ".animate-thumb",
          start: "top 90%",
        },
        scale: 1,
        stagger: {
          each: 0.1,
          from: "center",
          grid: "auto",
        },
      })
    </script>
  </body>
</html>
